<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World!</title>
</head>
<body>
    <h1>M-Config</h1>
    {% if type %}
        <p>Your mouses LED is successfully applied with:</p>
        <p>Type: {{type}}</p>
        {% if type != "off" %}
            {% if type != "cycle" %}
                <p>Color (HEX): #{{colorValue}}</p>
            {% endif %}
            {% if type != "solid" %}
                <p>Brightness: {{brightness}}</p>
                <p>Cycle rate: {{cycle_rate}} ms</p>
            {% endif %}
        {% endif %}
    {% endif %}

    <div class="solid">
        <h2>Apply Solid Color</h2>
        <form method="POST" action="/solid">
            {% csrf_token %}
            <label>Color</label>
            <input type="color" value="#{{colorValue}}" name="color-value">
            <input type="submit" value="Submit" name="submit-btn">
        </form>
    </div>
    <div class="cycle">
        <h2>Apply Cycle Color</h2>
        <form method="POST" action="/cycle">
            {% csrf_token %}
            <label>Brightness</label>
            <input type="number" min="0" max="100" value="100" name="brightness">
            <label>Cycle Rate (ms)</label>
            <input type="number" min="100" max="60000" value="10000" name="cycle-rate">
            <input type="submit" value="Submit" name="submit-btn">
        </form>
    </div>
    <div class="breathing">
        <h2>Apply Breathing Color</h2>
        <form method="POST" action="{% url 'home:breathing' %}">
            {% csrf_token %}
            <label>Color</label>
            <input type="color" value="#{{colorValue}}" name="color-value">
            <label>Brightness</label>
            <input type="number" min="0" max="100" value="100" name="brightness">
            <label>Cycle Rate (ms)</label>
            <input type="number" min="100" max="60000" value="10000" name="cycle-rate">
            <input type="submit" value="Submit" name="submit-btn">
        </form>
    </div>
    <div class="off">
        <h2>Apply Breathing Color</h2>
        <a href="{% url 'home:off' %}">
            <button>Off</button>
        </a>
    </div>
</body>
</html>