<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styling CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Hello World!</title>
</head>
<body>
    <h1>Hai</h1>
    <p>Solid Color yang kamu minta adalah: #{{ colorValue }}</p>
    <div class="div-color" style="background-color: #{{ colorValue }};">hai</div>
</body>
</html>